auto-install-peers=false
strict-peer-dependencies=false
supportedArchitectures[os][]=linux
supportedArchitectures[os][]=darwin
supportedArchitectures[cpu][]=x64
supportedArchitectures[cpu][]=arm64
public-hoist-pattern[]=lightningcss-darwin-arm64
public-hoist-pattern[]=@rollup/rollup-darwin-arm64
